*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth; 
}

/*header --------------------------------------------*/
.header{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
}

.header__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: calc(100vh - 50px);
    font-size: 50px;
    color: white;
}

.header__seta{
    align-self: center;
    position: absolute;
    bottom: 0 ;
    overflow:hidden;
}
.header__seta>img{
   animation: 2s animacaoSeta ease-in-out infinite;
}
@keyframes animacaoSeta{
   0%{
       opacity: 0;
       transform: translateY(-25px);
   }
    35%{
     opacity:1; 
     transform: translateY(-20px);
   } 
   100%{
     opacity:0;  
     transform: translateY(50px);
   } 
}


@media (max-width: 1500px){
    .header__title{
        padding: 0 70px;
    }
    
 
}

@media (max-width: 900px){
    .header__title{
        font-size: 40px;
    }
    
 
}

@media(max-width:600px){
    .header__title{
    justify-content: center;
    font-size: 25px;
    }
    .header__title>h1{
        padding: 190px;
    }
}
.header__menuM{
    background-color: rgba(14, 59, 67, 0.5);
    display: flex;
    height: 45px;
    justify-content: space-between;
   
}

.header__menuM>img{
    width: 42px;
    
}

.header__menuD{
    background-color: rgba(14, 59, 67, 0.5);
    display: flex;
    align-items: center;
}

.header__menuD ul>div{
    display: flex;
    width: 100%;
}

.header__lista-menu{
    list-style: none;
    display: flex;
    padding: 15px;
    background-color:none;
}
.header__lista-menu:last-child{
    padding-right: 0 ;
}
   

.header__lista-menu>a{
    text-decoration: none;
    color: white;
   font-weight: 800px;
   display: inline-block;
   white-space: nowrap;
}
.header__lista{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media(min-width:600px){
    .header__menuM{
        display: none;
    }

    .header__menuD>ul>div{
       padding: 7px;
    }
    

}
@media(max-width:600px){
    .header__menuD{
        display: none;
    }

}


.logos img{
    width: 15%;
    height: 15%;
    max-width: 100%;
    max-height: 100%;
    
}
@media(max-width:600px){
    .logos img{
        width: 100px;
        height: 100px;
        
        
        
    }
    .logos{
        display: flex;
        flex-wrap: wrap;

    }   
}




/*-----------------------------------------------*/
@media(max-width:600px){
    .container{
        max-width: 375px;
    }
}
.main{

}
.main>section>h1{
    text-align: center;
    margin:20px;
}
.main>section>p{
    word-wrap: break-word;
}

.main__negrito{
    font-weight: bold;
}
.main__ligth{
    font-weight: lighter;
    font-size: 20px;
}
.main__texto{
    padding-bottom: 15px;
}
/* trabalhando com as tabelas */

.main__table{
    width: 100%;
}


table{
    border-left: 7px #247B7B solid;
   border-collapse: collapse;
   margin-bottom: 15px;
    
}
table td {
  
    text-align: left;
    line-height: 2.0;
    padding-top: 10px;
    padding-left: 10px;
}

.tabela__titulo{
    font-size: 16px;
    font-weight: normal;
    
}

table p {
padding: 10px;
}
/*table tr :nth-child(odd){
    background-color: #DFDADA;
}
table tr :nth-child(even){
  background-color:  #C4C4C4;

}
*/
.table__tamanho{
    width: 90%;
    
}
.table__tamanho h1{
    font-size: 20px;
}
table img{
    max-width: 100%;
    max-height: 100%;
}
@media(min-width:600px){
    .table__tamanho{
        width: 40%;
    }
    table img{
        
        width: 30%;
        height: 30%;
        max-width: 100%;
        max-height: 100%;
    }
}

table tr:nth-child(even){
    background-color:  #C4C4C4;
    
  }
  table tr:nth-child(odd){
  background-color:  #DFDADA;
  }



  .table__fosco{
      color: #247B7B;
      padding-left: 10px;
  }


  .lista__imagens li{
    
  }

  .lista ul{
      padding-left: 25px;
  }

footer{
    background-color: #0E3B43;
}

.footer{
    display: flex;
    justify-content: space-around;
}

footer p{
    color: white;
    margin: auto 0;
    /*font-size: 20px;*/
    padding-left: 20px;
}

footer p a{
    text-decoration: none;
    color: white;
}

.footer__images{
    display: inline-block;
}

footer img{
    /*width: 40%;*/
}

@media(min-width:600px){
    footer img{
        padding-right: 20px;
    }
}