*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}


/*header -------------------------------*/
.header{
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    height:560px;
    
}
.header__menuM{
    background-color: rgba(14, 59, 67, 0.699);
    display: flex;
    height: 45px;
    justify-content: space-between;
    
}

.header__menuM>img{
    width: 42px;
}

.header__menuD{
    background-color: #0E3B43;
    display: flex;
}

.header__menuD>li{
    list-style: none;
    background-color: #0E3B43;
    display: flex;
}

@media(min-width:600px){
    .header__menuM{
        display: none;
    }

}
@media(max-width:600px){
    .header__menuD{
        display: none;
    }

}

.logos img{
    width: 20%;
    height: 20%;
    max-width: 100%;
    max-height: 100%;
}


.header__titulo{
    font-size: 27px;
    color: #FFFFFF;
}
/*---------------------------------------------*/
@media(max-width:600px){
    .container{
        max-width: 375px;
    }
}
.main{

}
.main>section>h1{
    text-align: center;
    margin:20px;
}
.main>section>p{
    color: red;
    word-wrap: break-word;
}

.main__negrito{
    font-weight: bold;
}
.main__ligth{
    font-weight: lighter;
    font-size: 20px;
}

