/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

html {
    scroll-behavior: smooth;
}

/* menu */
.menu {
    background-color: #0e3b4380;
    width: 100%;
    height: 60px;
    transition: .7s;
    overflow: hidden;
} 
.menu > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 1em;
}
.logo {
    width: 60px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__link {
    margin-left: .5em;
    padding: .5em;
    color: white;
}
.menu__link:hover{
    background-color:#247b7b59;
    border-radius: 4px;
}
.menu__btn{
    color: #FFFF;
    position:absolute;
    right: 16px;
    display: none;
}
.menu__btn > i{
    font-size: 2.5em;
}

@media(max-width:780px) {
    .menu__btn{
        display: inline-block;
    }
    .menu__list{
        margin-top: 60px;
        flex-direction: column;
        align-self: flex-start;
    }
    .menu__list > li{
        margin-bottom: 20px;
        text-align: right;
    }
   
        
}

/*header --------------------------------------------*/
.header {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;  
}


.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: calc(100vh - 50px);
    font-size: 80px;
    color: white;
    /* padding-right: 10%; */
}

.header__seta {
    position: absolute;
    left: 50%;
    bottom: 0;
    overflow: hidden;
    height: 60px;
}

.header__seta>img {
    animation: 2s animacaoSeta infinite;
}

@keyframes animacaoSeta {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(60px);
    }
}


.logos img {
    width: 15%;
    height: 15%;
    max-width: 100%;
    max-height: 100%;
}

@media(max-width:780px) {
    .logos img {
        width: 100px;
        height: 100px;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
    }

    .header__title{
       font-size: 3.5em; 
       padding-right: 10px;
    }
}

.logos {
    justify-content: center;
}

.logos__headless-Tool {
    justify-content: center;
}

/*-----------------------------------------------*/

h2 {
    text-align: center;
}

a {
    color: #247B7B;
    text-decoration: none;
}

.lista > a:hover {
    color: #123f3f;
}



.main>section>h1 {
    text-align: center;
    margin: 20px;
}

.main>section>p {
    word-wrap: break-word;
}

.main__negrito {
    font-weight: bold;
}

.main__ligth {
    font-weight: lighter;
    font-size: 20px;
}

.main__texto {
    padding-bottom: 15px;
}

/* trabalhando com as tabelas */

.main__table {
    width: 100%;
}


table {
    border-left: 7px #247B7B solid;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table td {
    text-align: left;
    line-height: 2.0;
    padding-top: 10px;
    padding-left: 10px;
}

.tabela__titulo {
    font-size: 16px;
    font-weight: normal;
}

table p {
    padding: 10px;
}

.tabelas__redes-sociais {
    width: 90%;
}

.tabelas__redes-sociais img {
    height: 20%;
}

.tabelas__img {
    height: 50%;
}

@media (min-width:600px) {
    .tabelas__redes-sociais {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tabelas__redes-sociais table {
        min-width: 300px;
        min-height: 150px;
        margin-bottom: 100px;
        margin-right: 10px;
    }

    .tabelas__img {
        width: 150px;
        height: 150px;
        padding: 25px;
    }
}

.tabela__redes-sociais {
    display: flex;
    flex-direction: column;
    /* border: 5px black solid; */
    /* background-color: red; */
}

.tabela__redes-sociais div {
    display: inline-flex;
    width: 80%;
    height: 150px;
    border-left: 7px #247B7B solid;
    border-collapse: collapse;
    margin: 10px 0;
    background-color: #C4C4C4;
    /* background-color: green; */
}

.tabela__redes-sociais div h1 {
    /* background-color: pink; */
    text-align: center;
    margin: auto 20px;
}

.tabela__redes-sociais div img {
    max-width: 100%;
    max-height: 100%;
    /* background-color: yellow; */
    width: 90%;
    height: 90%;
}

@media(min-width:600px) {
    .tabela__redes-sociais {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tabela__redes-sociais div {
        min-width: 300px;
        min-height: 150px;
        margin-bottom: 100px;
        margin-right: 10px;
    }

    .tabela__redes-sociais div img {
        width: 150px;
        height: 150px;
        padding: 25px;
    }
}

table tr:nth-child(even) {
    background-color: #C4C4C4;

}

table tr:nth-child(odd) {
    background-color: #DFDADA;
}

.table__fosco {
    color: #247B7B;
    padding-left: 10px;
}

.lista ul {
    padding-left: 25px;
}

footer {
    background-color: #0E3B43;
}

.footer {
    display: flex;
    justify-content: space-around;
}

footer p {
    color: white;
    margin: auto 0;
    /*font-size: 20px;*/
    padding: 30px;
}

footer p a {
    text-decoration: none;
    color: white;
}

.footer__images {
    display: inline-block;
}

@media(min-width:600px) {
    footer img {
        padding-right: 20px;
    }
}

section {
    padding: 20px 0;
}

section h2 {
    padding: 20px 0;
}

section p {
    padding: 10px 0;
    text-align: justify;
}